<div>
    <div id="billing_overview">
        <div class="row-fluid billing-title">
            <div class="span12">
                <div class="page-header">
                    <h1>{{t "myaccount.billing.billing_overview"}}&nbsp;&nbsp; <small><a id="billing_history_link" class="monster_link" href="#myaccount/billing/history"> {{t "myaccount.billing.view_billing_history"}}</a></small></h1>
                </div>
            </div>
        </div>

        <div class="row-fluid billing-content">
            <div class="row-fluid">
                <div class="span8">
                    <form class="form-inline change-card">
                        <label for="card">{{t "myaccount.billing.billing_account"}}</label>
                        <select name="card" id="card">
                            <option value="1">**** **** **** **** 1111</option>
                            <option value="2">**** **** **** **** 2222</option>
                            <option value="3">**** **** **** **** 3333</option>
                        </select>
                        <a class="monster_link" href="#myaccount/billing/change-card">{{t "myaccount.billing.change_card"}}</a>
                    </form>
                </div>

                <div class="span4 pagination-centered">
                    <a id="rate_plan" href="#myaccount/billing/rate-plan">{{t "myaccount.billing.rate_plan"}}</a>
                </div>
            </div>

            <div class="row-fluid fluid-tablet">
                <div class="span8">
                    <div class="hero-unit hero-unit-small billing-cycle">
                        <h2>{{t "myaccount.billing.billing_cycle"}} 07/03/89</h2>
                        <div class="days-left">
                            <div class="progress progress-success">
                                <div class="bar" style="width: 60%;"></div>
                            </div>
                            <h6>9 {{t "myaccount.billing.days_left"}}</h6>
                        </div>
                    </div>
                    <p class="pagination-centered visible-desktop">{{t "myaccount.billing.will_be_charged" "10/21/2012"}}</p>
                </div>

                <div class="span4">
                    <div class="hero-unit hero-unit-small hero-unit-blue charge">
                        <p>{{t "myaccount.billing.monthly_charges"}}</p>
                        <h1>$ 250.00</h1>
                    </div>
                    <p class="pagination-centered"><a class="monster_link" href="#myaccount/billing/history">{{t "myaccount.billing.payment_breakdown"}}</a></p>
                </div>
            </div>
        </div>
    </div>

    <div id="billing_history">
        <div class="row-fluid billing-title">
            <div class="span12">
                <div class="page-header">
                    <h1>{{t "myaccount.billing.billing_history"}}&nbsp;&nbsp; <small><a id="billing_overview_link" class="monster_link" href="#myaccount/billing/overview"> {{t "myaccount.billing.view_billing_overview"}}</a></small></h1>
                </div>
            </div>
        </div>

        <div class="row-fluid billing-content">
            <div class="row-fluid">
                <div id="accordion">
                    <h3>
                        {{t "myaccount.billing.monthly_charges_tab"}}
                        <span class="pull-right">
                            <span class="sub_amount">$250.00</span>
                            <i class="icon-chevron-right"></i><i class="icon-chevron-down"></i>
                        </span>
                    </h3>
                    <div>
                        <table id="table_monthly_charges" class="table table-accordion">
                            <thead>
                                <tr class="gray">
                                    <th class="padding-column"></th>
                                    <th class="service-column">Service</th>
                                    <th class="rate-column price">Rate</th>
                                    <th class="by-column"></th>
                                    <th class="quantity-column">Quantity</th>
                                    <th class="subtotal-column price">Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><i class="icon-user"></i></td>
                                    <td>Seats</td>
                                    <td>$25.99</td>
                                    <td>x</td>
                                    <td>1</td>
                                    <td>$25.99</td>
                                </tr>
                                <tr>
                                    <td><i class="icon-user"></i></td>
                                    <td>Inbound Trunks</td>
                                    <td>$8.00</td>
                                    <td>x</td>
                                    <td>0</td>
                                    <td>$0.00</td>
                                </tr>
                                <tr>
                                    <td><i class="icon-user"></i></td>
                                    <td>Two-way Trunk</td>
                                    <td>$25.99</td>
                                    <td>x</td>
                                    <td>2</td>
                                    <td>$51.98</td>
                                </tr>
                                <tr>
                                    <td><i class="icon-user"></i></td>
                                    <td>E911</td>
                                    <td>$2.00</td>
                                    <td>x</td>
                                    <td>7</td>
                                    <td>$14.00</td>
                                </tr>
                                <tr>
                                    <td><i class="icon-user"></i></td>
                                    <td>DIDs</td>
                                    <td>$1.00</td>
                                    <td>x</td>
                                    <td>18</td>
                                    <td>$18.00</td>
                                </tr>
                                <tr>
                                    <td><i class="icon-user"></i></td>
                                    <td>Fax #s</td>
                                    <td>$5.00</td>
                                    <td>x</td>
                                    <td>2</td>
                                    <td>$10.00</td>
                                </tr>
                                <tr>
                                    <td><i class="icon-user"></i></td>
                                    <td>Conference Rooms</td>
                                    <td>$15.00</td>
                                    <td>x</td>
                                    <td>1</td>
                                    <td>$15.00</td>
                                </tr>
                                <tr class="gray">
                                    <td><i class="icon-question-sign"></i></td>
                                    <td colspan=4>Taxes</td>
                                    <td>$27.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <h3>
                        {{t "myaccount.billing.prorated_charges_tab"}}
                        <span class="pull-right">
                            <span class="sub_amount">$31.64</span>
                            <i class="icon-chevron-right"></i><i class="icon-chevron-down"></i>
                        </span>
                    </h3>
                    <div>
                        <table id="table_prorated_charges" class="table table-accordion">
                            <thead>
                                <tr class="gray">
                                    <th class="padding-column"></th>
                                    <th class="service-column">Service</th>
                                    <th class="rate-column price">Rate</th>
                                    <th class="by-column"></th>
                                    <th class="quantity-column">Quantity</th>
                                    <th class="subtotal-column price">Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><i class="icon-user"></i></td>
                                    <td>Seats</td>
                                    <td>$4.99</td>
                                    <td>x</td>
                                    <td>5</td>
                                    <td>$24.95</td>
                                </tr>
                                <tr>
                                    <td><i class="icon-user"></i></td>
                                    <td>Conference Rooms</td>
                                    <td>$3.00</td>
                                    <td>x</td>
                                    <td>1</td>
                                    <td>$3.00</td>
                                </tr>
                                <tr class="gray">
                                    <td><i class="icon-question-sign"></i></td>
                                    <td colspan=4>Taxes</td>
                                    <td>$3.69</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <h3>
                        {{t "myaccount.billing.one_time_charges_tab"}}
                        <span class="pull-right">
                            <span class="sub_amount">$130.90</span>
                            <i class="icon-chevron-right"></i><i class="icon-chevron-down"></i>
                        </span>
                    </h3>
                    <div>
                        <table id="table_onetime_charges" class="table table-accordion">
                            <thead>
                                <tr class="gray">
                                    <th class="padding-column"></th>
                                    <th class="service-column">Service</th>
                                    <th class="rate-column price">Rate</th>
                                    <th class="by-column"></th>
                                    <th class="quantity-column">Quantity</th>
                                    <th class="subtotal-column price">Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><i class="icon-user"></i></td>
                                    <td>Installation Fee</td>
                                    <td>$119.00</td>
                                    <td>x</td>
                                    <td>1</td>
                                    <td>$119.00</td>
                                </tr>
                                <tr class="gray">
                                    <td><i class="icon-question-sign"></i></td>
                                    <td colspan=4>Taxes</td>
                                    <td>$11.90</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
