<div class="row-fluid billing-title">
	<div class="span12">
	  	<div class="page-header">
		 	<h1>{{t "myaccount.billing.title"}}&nbsp;&nbsp; <small><a class="monster_link" href="#myaccount/billing/history"> {{t "myaccount.billing.history"}}</a></small></h1>
		</div>
  	</div>
</div>

<div class="row-fluid billing-content">
    <div class="row-fluid">
        <div class="span8">
            <form class="form-inline change-card">
                <label for="card">{{t "myaccount.billing.billing_account"}}</label>
                <select name="card" id="card">
                    <option value="1">**** **** **** **** 1111</option>
                    <option value="2">**** **** **** **** 2222</option>
                    <option value="3">**** **** **** **** 3333</option>
                </select>
                <a class="monster_link" href="#myaccount/billing/change-card">{{t "myaccount.billing.change_card"}}</a>
            </form>
        </div>

        <div class="span4 pagination-centered">
            <a id="rate_plan" href="#myaccount/billing/rate-plan">{{t "myaccount.billing.rate_plan"}}</a>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span8">
            <div class="hero-unit hero-unit-small billing-cycle">
                <h2>{{t "myaccount.billing.billing_cycle"}} 07/03/89</h2>
                <div class="days-left">
                    <div class="progress progress-success">
                        <div class="bar" style="width: 60%;"></div>
                    </div>
                    <h4>9 {{t "myaccount.billing.days_left"}}</h4>
                </div>
            </div>
            <p class="pagination-centered">{{t "myaccount.billing.will_be_charged" "10/21/2012"}}</p>
        </div>

        <div class="span4">
            <div class="hero-unit hero-unit-small hero-unit-blue charge">
                <p>{{t "myaccount.billing.monthly_charges"}}</p>
                <h1>$ 250.00</h1>
            </div>
            <p class="pagination-centered"><a class="monster_link" href="#myaccount/billing/history">{{t "myaccount.billing.payment_breakdown"}}</a></p>
        </div>
    </div>
</div>
