<div class="row-fluid balance-title">
	<div class="span12">
	  	<div class="page-header">
		 	<h1>{{t "myaccount.balance.balance"}}</h1>
		</div>
  	</div>
</div>

<div class="row-fluid">
	<div class="span12">
		<div class="alert alert-info">
			<p>{{t "myaccount.balance.pay_per_minute"}}</p>
			<p><strong>{{t "myaccount.balance.current_balance"}}<span class="amount">{{amount}}</span></strong></p>
		</div>
	</div>
</div>


<div class="row-fluid">
	<div class="span12">
		<form class="form-inline">
		  	<label for="amount">{{t "myaccount.balance.amount"}} :</label>
		  	<input type="text" id="amount" name="amount" />
		  	<button class="btn btn-success add-credit">{{t "myaccount.balance.add_credit"}}</button>
		</form>
	</div>
</div>
