<div class="service-plan-content-wrapper">
    <div class="fancy-header">
        <div class="left-image">
            <i class="icon-calendar"></i>
        </div>

        <div class="title-block">
            {{t "myaccount.service_plan.title_header"}}
        </div>

        <div class="right-block">
            <div class="content">
                <div class="main-title">
                    {{t "core.layout.currency_used"}}{{total_amount}}
                </div>
                <!--<div class="sub-title">

                </div>-->
            </div>
        </div>
    </div>

    <div class="action-bar">
        <div class="date-selection">
            Go To: <select><option>March</option><option>April</option><option>May</option></select>
        </div>

        <li class="dropdown dropdown-download">
            <a href="#" id="download" role="button" class="action-number dropdown-toggle" data-toggle="dropdown"><i class="icon-download icon-green"></i>Download</a>
            <ul class="dropdown-menu">
                <!--<li id="get_excel" class="pbx-dropdown"><a href="#">Excel</a></li>-->
                <li id="get_csv" class="pbx-dropdown"><a href="#">CSV</a></li>
            </ul>
        </li>
    </div>

    <div class="table-content">
        <table class="table">
            <thead>
                <tr>
                    <th>{{t "myaccount.service_plan.service_title"}}</th>
                    <th>{{t "core.layout.currency_used"}}{{t "myaccount.service_plan.rate_title"}}</th>
                    <th></th>
                    <th>{{t "myaccount.service_plan.quantity_title"}}</th>
                    <th>{{t "myaccount.service_plan.monthly_charges_title"}}</th>
                </tr>
            </thead>
            <tbody>
                {{#each service_plan_array}}
                    <tr>
                        <td>{{this.service}}</td>
                        <td>{{t "core.layout.currency_used"}}{{this.rate}}</td>
                        <td>X</td>
                        <td>{{this.quantity}}</td>
                        <td>{{t "core.layout.currency_used"}}{{this.monthly_charges}}</td>
                    </tr>
                {{else}}
                    <tr>NO DATA TO DISPLAY TODO</tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
