<div class="trunkstore_popup cnam clearfix">
    <div class="row-fluid">
        <div class="left_image"></div>

        <div class="right_part">
            <div class="row-fluid">
                <div class="row-fluid">
                    {{t "pbxs.pbxs_manager.caller_id_name"}}
                </div>

                <div class="row-fluid">
                    <form id="cnam">
                        <input type="text" class="caller_id" name="display_name" value="{{display_name}}" placeholder="{{t "pbxs.pbxs_manager.caller_id_placeholder"}}"/>
                    </form>
                </div>

                <div class="row-fluid">
                    <button class="btn btn-success">{{t "pbxs.pbxs_manager.add"}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="help-box gray-box">
            <div class="icon-wrapper">
                <i class="icon-info-sign2"></i>
            </div>
            <div class="text-wrapper">
                <p>{{t "pbxs.pbxs_manager.help_first_line"}}</p>
                <p>{{t "pbxs.pbxs_manager.help_second_line"}}</p>
            </div>
        </div>
    </div>
</div>
