<li class="trunks">
	<a href="#myaccount/trunks/render">
		<i class="icon-fullscreen"></i> {{t "myaccount.trunks.trunks"}}
		<span class="badge pull-right visible-tablet">
			{{inbound}}/{{twoway}}
		</span>

        <span class="badge pull-right visible-desktop">
            <i class="icon-arrow-right"></i>{{inbound}}
        </span>
        <span class="badge pull-right visible-desktop">
            <i class="icon-random"></i>{{twoway}}
        </span>
	</a>
</li>
