<div class="trunks-content">
    <div class="trunk-container-block trunk-bar gray-gradient-reverse">
        <div class="image-block">
            <i class="icon-arrow-right"></i>
        </div>

        <div class="title-block">
            {{t "myaccount.trunks.two_way_calling"}} <i class="icon-question-sign" data-toggle="tooltip" data-placement="right" data-original-title="{{t "myaccount.trunks.help_twoway"}}"></i>
        </div>
        <div class="numbers-block">
            <div class="numbers-wrapper">
                <div class="trunk-number">
                    {{twoway}}
                </div>
                <div class="trunk-amount">
                    {{t "myaccount.trunks.currency"}}<span class="total-amount-value">{{total_amount_twoway}}</span>{{t "myaccount.trunks.per_month"}}
                </div>
            </div>
        </div>
    </div>

    <div class="trunk-container-block section-slider-value">
        <div class="slider-value-wrapper">
            <div class="slider-value">{{twoway}}</div>
            <div class="total-amount">{{t "myaccount.trunks.currency"}}<span class="total-amount-value">{{total_amount_twoway}}</span>{{t "myaccount.trunks.per_month"}}</div>
        </div>
    </div>

    <div class="trunk-container-block section-slider">
        <div class="slider-title">{{t "myaccount.trunks.quantity"}}</div>
        <div class="slider-wrapper">
            <div id="slider_twoway"></div>
        </div>
    </div>

    <div class="trunk-container-block section-button">
        <button type="submit" class="btn btn-success update-limits">{{t "myaccount.trunks.update_limits"}}</button>
    </div>
</div>
