<div class="trunks-content">
    <div class="row-fluid balance-title visible-desktop">
        <div class="span12">
            <div class="page-header">
                <h1>{{t "myaccount.trunks.trunks"}}</h1>
            </div>
        </div>
    </div>

    <div class="row-fluid trunk-container twoway-calling">
        <div class="span12">
            <div class="span1 hidden-phone">
                <i class="icon-random"></i>
            </div>
            <div class="span3 text-wrapper">
                <div class="title">{{t "myaccount.trunks.two_way_calling"}}</div>
                <div class="price">{{t "myaccount.trunks.simultaneous_twoway" amount_twoway}}</div>
            </div>
            <div class="span7">
                <div class="span7 slider-wrapper">
                    <div id="slider_twoway"></div>
                </div>
                <div class="span3 slider-value">{{twoway}}</div>
                <div class="span2 total-amount hidden-phone">{{t "myaccount.trunks.currency"}}<span class="total-amount-value">{{total_amount_twoway}}</span>{{t "myaccount.trunks.per_month"}}</div>
            </div>
        </div>
    </div>

    <div class="row-fluid trunk-container inbound-calling">
        <div class="span1 hidden-phone">
            <i class="icon-arrow-right"></i>
        </div>
        <div class="span3 text-wrapper">
            <div class="title">{{t "myaccount.trunks.inbound_calling"}}</div>
            <div class="price">{{t "myaccount.trunks.simultaneous_inbound" amount_inbound}}</div>
        </div>
        <div class="span7">
            <div class="row-fluid">
                <div class="span7 slider-wrapper">
                    <div id="slider_inbound"></div>
                </div>
                <div class="span3 slider-value">{{inbound}}</div>
                <div class="span2 total-amount hidden-phone">{{t "myaccount.trunks.currency"}}<span class="total-amount-value">{{total_amount_inbound}}</span>{{t "myaccount.trunks.per_month"}}</div>
            </div>
        </div>
    </div>

    <div class="row-fluid trunk-container">
        <!-- Hack because offset doesnt render properly in phone-view --><div class="span1 hidden-phone"></div>
        <div class="span11 text-wrapper">
            <div class="title pull-left">{{t "myaccount.trunks.monthly_charges"}} {{t "myaccount.trunks.currency"}}<span id="monthly_charges" class="total-amount-value">{{monthly_charges}}</span>{{t "myaccount.trunks.per_month"}}</div>
            <button type="submit" class="btn btn-success update-limits">{{t "myaccount.trunks.update_limits"}}</button>
        </div>
    </div>
</div>
