<div class="transactions-content-wrapper">
    <div class="fancy-header">
        <div class="left-image">
            <i class="icon-credit-card"></i>
        </div>

        <div class="title-block">
            {{t "myaccount.transactions.title_header"}} <span class="billing-cycle"> (<span class="billing-date start">{{billing_start_date}}</span> {{t "myaccount.transactions.to"}} <span class="billing-date end">{{billing_end_date}}</span>) </span>
        </div>

        <div class="right-block box-white-border">
            <div class="content box-white-content">
                <div class="main-title">
                    {{t "core.layout.currency_used"}}<span class="total-amount">{{amount}}</span>
                </div>
            </div>
        </div>
    </div>

    <span class="action-bar-wrapper">
        {{t "core.layout.start_date"}}: <input id="startDate" readonly="readonly" type="text"/>
        {{t "core.layout.end_date"}}: <input id="endDate" readonly="readonly" type="text"/>
        <button class="btn btn-primary button-search" id="filter_transactions">{{t "core.layout.filter"}}</button>
        <!--<li class="dropdown dropdown-download">
            <a href="#" id="download" role="button" class="action-number dropdown-toggle" data-toggle="dropdown"><i class="icon-download icon-green"></i>{{t "core.layout.download"}}</a>
            <ul class="dropdown-menu">
                <li id="get_csv"><a href="#">{{t "core.layout.csv"}}</a></li>
            </ul>
        </li>-->
    </span>

    <div class="list-transactions">
    </div>
</div>
