<div>
    <form name="form">
        <div class="list_fields">
            <div class="row_welcome_field">
                <label>{{t "auth.auth.login"}}</label>
                <input type="text" name="login" id="login" value="{{username}}"/>
            </div>
            <div class="row_welcome_field">
                <label>{{t "auth.auth.password"}}</label>
                <input type="password" name="password" id="password" />
            </div>
            {{#if request_account_name}}
                 <div class="row_welcome_field">
                    <label>{{t "auth.auth.account_name"}}</label>
                    <input type="text" name="account_name" id="account_name" value="{{account_name}}"/>
                </div>
            {{/if}}
            <div class="login_div">
                {{#if remember_me}}
                    <input type="checkbox" id="remember_me" CHECKED="CHECKED"/>
                {{else}}
                    <input type="checkbox" id="remember_me"/>
                {{/if}}
                {{t "auth.auth.remember_me"}}&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="javascript:void(0);" class="recover_password">{{t "auth.auth.forgot_password"}}</a>
                <button class="btn primary login">{{t "auth.auth.btn_login"}}</button>
                <div class="clear"/>
            </div>
            <div class="clear"/>
        </div>
        {{#unless register_btn}}
        <div class="register_div">
            <div class="left_part">
                <span class="new_user_text">{{t "auth.auth.are_you_a_new_user"}}</span>
                <button class="register"></button>
            </div>
            <div class="free_text">
                <div>{{t "auth.auth.easy_to_start"}}</div>
                <div>{{t "auth.auth.free_demo_account"}}</div>
                <div>{{t "auth.auth.make_calls_in_minutes"}}</div>
            </div>
            <div class="clear"/>
        </div>
        {{/unless}}
    </form>
</div>
