<div class="popup_recover_password">
    <div class="row-fluid">
        <div class="help-box gray-box">
            <div class="wrapper-icon">
                &nbsp;<i class="icon-info-sign2"></i>&nbsp;
            </div>
            <div class="text-wrapper">
                {{t "auth.auth.send_a_link"}}<br/>
                {{t "auth.auth.recover_password_directions"}}
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <form class="form-horizontal" name="recover_password" id="recover_password_form">
            <div class="control-group">
                <label class="control-label" for="username">{{t "auth.auth.login"}}</label>
                <div class="controls">
                    <input id="username" name="username" type="text" placeholder="{{t 'auth.auth.login_placeholder'}}" value=""/>
                </div>
            </div>

            <hr/>

            <div class="control-group">
                <label class="control-label" for="account_name">{{t "auth.auth.account_name"}}</label>
                <div class="controls">
                    <input id="account_name" name="account_name" type="text" placeholder="{{t 'auth.auth.account_name_placeholder'}}" value=""/>
                </div>
            </div>

            <div class="control-group group-or">
                <label class="control-label"></label>
                <div class="controls">
                    <span class="text-or">OR</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="account_realm">{{t "auth.auth.account_realm"}}</label>
                <div class="controls">
                    <input id="account_realm" name="account_realm" type="text" placeholder="{{t 'auth.auth.account_realm_placeholder'}}" value=""/>
                </div>
            </div>

            <div class="control-group group-or">
                <label class="control-label"></label>
                <div class="controls">
                    <span class="text-or">OR</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="phone_number">{{t "auth.auth.phone_number"}}</label>
                <div class="controls">
                    <input id="phone_number" name="phone_number" type="text" placeholder="{{t 'auth.auth.phone_number_placeholder'}}" value=""/>
                </div>
            </div>
        </form>
    </div>

    <div class="row-fluid content-centered">
        <button class="btn btn-primary btn_recover_password">{{t "auth.auth.recover"}}</button>
    </div>
</div>
