<div>
    <div class="inline_popup popup_recover_password">
        <div>
            <div class="row">
                <form name="recover_password" id="recover_password_form">
                    <div class="pill-content">

                        <div class="help_box help_recover">
                            {{t "auth.auth.send_a_link"}}<br/><br/>
                            {{t "auth.auth.recover_password_directions"}}
                        </div>

                        <div class="clearfix">
                            <label for="username">{{t "auth.auth.login"}}</label>
                            <div class="input">
                                <input class="span4" id="username" name="username" type="text" placeholder="{{t 'auth.auth.login_placeholder'}}" value=""/>
                            </div>
                        </div>

                        <div class="clearfix">
                            <label for="account_name">{{t "auth.auth.account_name"}}</label>
                            <div class="input">
                                <input class="span4" id="account_name" name="account_name" type="text" placeholder="{{t 'auth.auth.account_name_placeholder'}}" value=""/>
                            </div>
                        </div>

                        <div class="clearfix">
                            <label for="account_realm">{{t "auth.auth.account_realm"}}</label>
                            <div class="input">
                                <input class="span4" id="account_realm" name="account_realm" type="text" placeholder="{{t 'auth.auth.account_realm_placeholder'}}" value=""/>
                            </div>
                        </div>

                        <div class="clearfix">
                            <label for="phone_number">{{t "auth.auth.phone_number"}}</label>
                            <div class="input">
                                <input class="span4" id="phone_number" name="phone_number" type="text" placeholder="{{t 'auth.auth.phone_number_placeholder'}}" value=""/>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="buttons-right">
                    <button class="btn btn-primary btn_recover_password">{{t "auth.auth.recover"}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
